<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
<h1 class="mb-3">Images</h1>
<div class="img-div">
    <img src={{images.first}} class="first">
    <img src={{images.second}} class="second">
</div>

    {{!-- {{#each events}}
      <tr>
        <td>{{this.organizer.emailAddress.name}}</td>
        <td>{{this.subject}}</td>
        <td>{{eventDateTime this.start.dateTime}}</td>
        <td>{{eventDateTime this.end.dateTime}}</td> --}}
<!-- </LayoutSnippet> -->
